:root {
    --color:white;
} 


.Box {
    background-color: white;
    height:600px ;
    width:900px ;
    box-shadow: 0 0 10px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}


 .heading h5, h2 {
       margin:0;
       display: flex;
       justify-content: center;
       align-items: center;
} 


.heading h2 {
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
}

 .heading h5 {
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif ;
    color:rgb(235, 83, 27) ;
}


.container  {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        text-transform:capitalize;
        box-sizing:border-box;
        
}

 .container .morocco  {
        background-color: black; 
        flex-grow:1;
        color: white;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        width: 150px;
        height: 200px;
        box-sizing: border-box;
        background-image: url(photos/images\ \(7\).jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}


.container .morocco {
    animation: ease-in 5s infinite;
    }


    /* @keyframes containermorocco  {
        0% {
              background-image:url(photos/images\ \(4\).jpeg) ;
        }

        100% {
            background-image:url(photos/images\ \(8\).jpeg) ;
        }
    } */

 .container .morocco button {
        background-color: rgb(235, 83, 27);
        border: none;
        border-radius: 5px;
        color: white;
        height: 20px;
        width: 60px;
        position: absolute;
        top:15px;
        left:100px;
        cursor: pointer;
} 

 .container .morocco button:hover {
        background-color: blue;
}

 .container .morocco span {
        position: absolute;
        top: 160px;
        left: 30px;     
}
 


 .container .United-kingdom  {
   background-color: pink; 
   flex-grow: 1;
   box-sizing: border-box;
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   width: 500px;
   position: relative;
   background-image: url(photos/images\ \(5\).jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}


 .container .United-kingdom button {
    background-color: rgb(235, 83, 27);
    border: none;
    border-radius: 5px;
    color: white;
    height: 20px;
    width: 60px;
    position: absolute;
     top:15px;
    left:450px; 
}


.container .United-kingdom .w-uk {
    position: absolute;
     top: 140px;
    left: 30px;
}


.container .United-kingdom .w-uk p{
    margin: 0;
}


 .container .singapore  {
   background-color: blue; 
   flex-grow: 1;
   box-sizing: border-box;
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   width: 150px;
   position: relative;background-image: url(photos/images\ \(4\).jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}


.container .singapore button {
    background-color: rgb(235, 83, 27);
    border: none;
    border-radius: 5px;
    color: var(--color);
    height: 20px;
    width: 60px;
    position: absolute;
    top:15px;
    left:100px; 
}


.container .singapore .s {
    position: absolute;
    top: 160px;
    left: 30px;
}


 .container .Hungary { 
   background-color: grey; 
   flex-grow: 1;
   width: 100px;
   height: 200px; 
   border-radius: 10px; 
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   box-sizing: border-box;
   position: relative;
   background-image: url(photos/images\ \(6\).jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}


.container .Hungary .w-h p{
    margin: 0;
}


.container .Hungary .w-h {
    position: absolute;
    top: 140px;
   left: 30px;
}


 .container .Hungary button {
    background-color: rgb(235, 83, 27);
    border: none;
    border-radius: 5px;
    color: var(--color);
    height: 20px;
    width: 60px;
    position: absolute;
    top:15px;
    left:365px; 
}


.container .italy  {
    flex-grow: 1;
    width: 100px;
   height: 200px; 
   background-color: green; 
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   position: relative;
   background-image: url(photos/images\ \(8\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container .italy button {
    background-color: rgb(235, 83, 27);
    border: none;
    border-radius: 5px;
    color: var(--color);
    height: 20px;
    width: 60px;
    position: absolute; 
    top:15px;
    left:365px; 
}


.container .italy p {
    margin: 0;
}


.container .italy span {
    position: absolute;
    top: 140px;
    left: 30px;  
}

